In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("TIGERAIETF.xlsx")

In [3]:
df.head()

        date  종목코드1    종목코드2     종목명  수량(주)
0 2020-11-06   5930  A005930    삼성전자   4148
1 2020-11-06  35420  A035420   NAVER    126
2 2020-11-06  51910  A051910    LG화학     54
3 2020-11-06    660  A000660  SK하이닉스    382
4 2020-11-06  68270  A068270    셀트리온     94

In [140]:
# 종목별/일자별 수량 추이

In [141]:
df_1 = df.groupby(['종목명', 'date'])['수량(주)'].sum()

In [142]:
df_1 = pd.DataFrame(df_1)

In [143]:
df_1 = df_1.stack().reset_index()

In [144]:
df_1

        종목명       date level_2    0
0     AP시스템 2020-10-05   수량(주)   32
1     AP시스템 2020-10-06   수량(주)   32
2     AP시스템 2020-10-07   수량(주)   32
3     AP시스템 2020-10-08   수량(주)   32
4     AP시스템 2020-10-12   수량(주)   32
...     ...        ...     ...  ...
3514    휴비스 2020-11-02   수량(주)   88
3515    휴비스 2020-11-03   수량(주)   88
3516    휴비스 2020-11-04   수량(주)   88
3517    휴비스 2020-11-05   수량(주)  134
3518    휴비스 2020-11-06   수량(주)  179

[3519 rows x 4 columns]

In [145]:
# 종목별 변동 중복 제거

In [146]:
df_2= df.drop_duplicates(["종목명","수량(주)"], keep="last")

In [147]:
df_2 = df_2.groupby(['종목명','수량(주)','date']).sum()

In [148]:
df_2

                          종목코드1
종목명    수량(주) date
AP시스템  16    2020-11-05  265520
       32    2020-10-05  265520
BGF리테일 31    2020-10-05  282330
       39    2020-11-05  282330
       47    2020-11-06  282330
...                         ...
효성ITX  71    2020-11-05   94280
       88    2020-11-06   94280
휴비스    88    2020-10-05   79980
       134   2020-11-05   79980
       179   2020-11-06   79980

[630 rows x 1 columns]

In [149]:
df_2 = df_2.stack().reset_index()

In [150]:
df_2

        종목명  수량(주)       date level_3       0
0     AP시스템     16 2020-11-05   종목코드1  265520
1     AP시스템     32 2020-10-05   종목코드1  265520
2    BGF리테일     31 2020-10-05   종목코드1  282330
3    BGF리테일     39 2020-11-05   종목코드1  282330
4    BGF리테일     47 2020-11-06   종목코드1  282330
..      ...    ...        ...     ...     ...
625   효성ITX     71 2020-11-05   종목코드1   94280
626   효성ITX     88 2020-11-06   종목코드1   94280
627     휴비스     88 2020-10-05   종목코드1   79980
628     휴비스    134 2020-11-05   종목코드1   79980
629     휴비스    179 2020-11-06   종목코드1   79980

[630 rows x 5 columns]

In [151]:
# 일자별 종목수 변동

In [153]:
df_3 = df['date'].value_counts().sort_index(ascending=True)

In [155]:
df_3 = pd.DataFrame(df_3)

In [156]:
df_3

            date
2020-10-05   137
2020-10-06   137
2020-10-07   137
2020-10-08   137
2020-10-12   137
2020-10-13   137
2020-10-14   137
2020-10-15   137
2020-10-16   137
2020-10-19   137
2020-10-20   138
2020-10-21   138
2020-10-22   138
2020-10-23   138
2020-10-26   138
2020-10-27   138
2020-10-28   138
2020-10-29   138
2020-10-30   138
2020-11-02   138
2020-11-03   138
2020-11-04   138
2020-11-05   255
2020-11-06   238

In [ ]:
# 종목 편출입

In [108]:
del_stock = []


df_jonmok_list = list(df[df['date'] == '2020-11-06']['종목명'])


for i in df[df['date']== '2020-10-05']['종목명']:
    
    if df_jonmok_list.count(i) > 0 :
        
        pass
        
    else:
        
        del_stock.append(i)

In [118]:
del_stock

['알테오젠',
 '펄어비스',
 '일진다이아',
 '메지온',
 '포스코케미칼',
 '동서',
 'CJ대한통운',
 '오뚜기',
 'OCI',
 '아프리카TV',
 '영풍',
 'SBS',
 '팬오션',
 '티씨케이',
 'DI동일',
 'AP시스템',
 '일성신약']

In [119]:
len(del_stock)

17

In [116]:
append_stock = []


df_jonmok_list_2 = list(df[df['date'] == '2020-10-05']['종목명'])


for i in df[df['date']== '2020-11-06']['종목명']:
    
    if df_jonmok_list_2.count(i) > 0 :
        
        pass
        
    else:
        
        append_stock.append(i)

In [117]:
append_stock

['세아베스틸',
 '한올바이오파마',
 '빅히트',
 'NHN',
 '메리츠화재',
 '키움증권',
 'GKL',
 '한화시스템',
 '씨젠',
 '제넥신',
 '유니드',
 'SK디앤디',
 '대웅',
 '기업은행',
 '두산솔루스',
 '한미반도체',
 '대상홀딩스',
 '코리안리',
 '현대오토에버',
 '삼양식품',
 '풍산',
 'LS',
 '하이트진로홀딩스',
 '금호타이어',
 '삼진제약',
 '아주캐피탈',
 '삼성카드',
 '한진중공업',
 '고영',
 '삼양패키징',
 '롯데쇼핑',
 '다우기술',
 'SK머티리얼즈',
 '한섬',
 '코오롱',
 'NICE',
 '종근당홀딩스',
 '두산',
 '동화약품',
 '대한전선',
 '동아쏘시오홀딩스',
 '대웅제약',
 '한일시멘트',
 '롯데제과',
 'KG케미칼',
 '영원무역홀딩스',
 '서흥',
 '롯데하이마트',
 '현대리바트',
 '동원산업',
 '미원상사',
 '만도',
 '스카이라이프',
 '광주신세계',
 '풀무원',
 '한세실업',
 '일동제약',
 '오리온홀딩스',
 '농심홀딩스',
 'SK가스',
 '경동나비엔',
 '코오롱글로벌',
 '메리츠금융지주',
 '현대그린푸드',
 '한미사이언스',
 '국도화학',
 '삼양홀딩스',
 '한독',
 '제일기획',
 '넥센타이어',
 '우리종금',
 '신영증권',
 '아시아나항공',
 '현대일렉트릭',
 '동부건설',
 '드림텍',
 '샘표식품',
 '케이씨텍',
 'JW중외제약',
 '디티알오토모티브',
 '한국콜마홀딩스',
 'LF',
 '코리아써키트',
 '대원제약',
 '쌍용차',
 '영원무역',
 '롯데정보통신',
 '컴투스',
 '대림건설',
 '신세계 I&C',
 '남해화학',
 '삼천리',
 'JB금융지주',
 '한국철강',
 '세방전지',
 '신세계',
 '대덕',
 '한국금융지주',
 '신풍제약',
 '대덕전자',
 '파미셀',
 '동양',
 '녹십자',
 '한국쉘석유',
 '삼양사',
 '한국단자',
 '부산가스',
 '아세아시멘트',
 '율촌화학',
 '쿠쿠홀딩스',
 'LG헬로비전',
 '한국자산신탁',
 '쿠쿠홈시스',
 '경방',
 '에이치엘비',
 '모토닉',
 '현대에이치씨엔',
 'KPX케미칼']

In [120]:
len(append_stock)

118