In [19]:
import pandas as pd
import numpy as np

In [23]:
#files = ["./data/framp.csv", "./data/gnyned.csv", "./data/gwoomed.csv", 
#         "./data/hoilled.csv", "./data/plent.csv", "./data/throwsh.csv",
#         "./data/twerche.csv", "./data/veeme.csv"]

In [21]:
def na(files):
    
    result = []
    
    for i in files:
        
        result1= []
        
        df = pd.read_csv(i)
        
        df['date'] = pd.to_datetime(df['date'])

        df['year'] = df['date'].dt.strftime('%Y')

        max_price_index = list(df.groupby(['year'])['close'].idxmax())
        max_vol_index = list(df.groupby(['year'])['vol'].idxmax())

        max_vol_data = df[['date','vol','year']].iloc[max_vol_index].reset_index()
        max_vol_data.drop(['index'], inplace =True, axis = 1)

        max_price_data = df[['date','close','year']].iloc[max_price_index].reset_index()
        max_price_data.drop(['index'], inplace =True, axis = 1)


        for i in range(len(max_price_data)):

            for j in range(len(df)):                  

                if max_price_data['close'][i] == df['close'][j] and max_price_data['year'][i] == df['year'][j]: 

                    max_price_index.append(j)


        for i in range(len(max_vol_data)):

            for j in range(len(df)):                  

                if max_vol_data['vol'][i] == df['vol'][j] and max_vol_data['year'][i] == df['year'][j]: 

                    max_vol_index.append(j)


        max_price_index = list(set(max_price_index))
        max_vol_index = list(set(max_vol_index))


        max_vol_data = df[['date','vol']].iloc[max_vol_index].reset_index()
        max_vol_data.drop(['index'], inplace =True, axis = 1)

        max_price_data = df[['date','close']].iloc[max_price_index].reset_index()
        max_price_data.drop(['index'], inplace =True, axis = 1)


        max_price_data = max_price_data.sort_values("date").reset_index().head(6)
        max_price_data.drop(['index'], inplace =True, axis = 1)
        max_vol_data = max_vol_data.sort_values("date").reset_index().head(6)
        max_vol_data.drop(['index'], inplace =True, axis = 1)
        
        result1.append(max_vol_data)
        result1.append(max_price_data)
        
        result.append(result1)
        
    return result

In [22]:
na(files)

[[        date        vol
  0 2005-09-23  306208914
  1 2006-05-31   28831088
  2 2007-02-01   18388511
  3 2008-05-14   24150048
  4 2009-02-06   35246018
  5 2010-05-26   54335576,         date   close
  0 2005-09-29  2.8489
  1 2006-05-11  2.8489
  2 2007-10-23  4.5976
  3 2008-01-08  4.1227
  4 2009-07-30  3.6434
  5 2010-11-12  3.2556], [        date       vol
  0 2017-07-27  26463407
  1 2018-11-30  13974809
  2 2019-01-08    782333,         date   close
  0 2017-09-15  35.007
  1 2018-01-08  33.081
  2 2019-01-02  21.580], [        date      vol
  0 2009-06-25  4169894
  1 2010-03-09  1577806
  2 2011-03-18   510597
  3 2012-11-16   501326
  4 2013-06-21   301582
  5 2014-12-23   359617,         date    close
  0 2009-10-12   62.856
  1 2010-10-28   92.381
  2 2010-12-15   92.381
  3 2011-03-17  104.800
  4 2012-12-20  119.170
  5 2013-11-21  123.820], [        date       vol
  0 1998-11-18  11251873
  1 1999-01-21   6076014
  2 2000-11-08  20275328
  3 2001-10-11   8838297
  4 2002-05-17  11420120
  5 2003-08-29  14271971,         date    close
  0 1998-12-23   8.2768
  1 1998-12-28   8.2768
  2 1999-07-15  13.7030
  3 2000-02-29  18.7090
  4 2001-01-04  13.1900
  5 2002-01-09   8.3506], [        date     vol
  0 2004-10-29  681289
  1 2005-10-07  268690
  2 2006-01-31  285801
  3 2007-06-18  229924
  4 2008-09-04  164968
  5 2009-05-13  257104,         date    close
  0 2004-11-05   38.149
  1 2005-02-04   40.177
  2 2006-12-18   43.350
  3 2007-07-16  147.160
  4 2008-03-07  123.250
  5 2009-12-28   82.781], [        date      vol
  0 1997-07-10  7190075
  1 1998-02-09  3968369
  2 1999-07-07  6231927
  3 2000-01-14  5259179
  4 2001-10-11  7681942
  5 2002-01-10  4323656,         date    close
  0 1997-10-22   8.4273
  1 1998-02-09   5.4130
  2 1998-04-30   5.4130
  3 1999-07-09   9.8670
  4 2000-02-25  11.4410
  5 2001-01-29   8.7326], [        date      vol
  0 1997-07-01  3240026
  1 1998-11-03  1047549
  2 1999-07-15  3829036
  3 2000-01-18  1351917
  4 2001-01-23   103433
  5 2002-02-13    90521,         date   close
  0 1997-10-22  22.278
  1 1998-07-20  32.673
  2 1998-07-23  32.673
  3 1999-07-14  30.127
  4 2000-01-27  31.785
  5 2001-12-31  27.157], [        date     vol
  0 2011-05-10  973320
  1 2012-03-27  332852
  2 2013-05-24  442705
  3 2014-01-09  185840
  4 2015-10-23  245446
  5 2016-01-11  188318,         date    close
  0 2011-11-30   41.937
  1 2012-04-12   49.180
  2 2013-11-20   87.304
  3 2014-12-03  113.410
  4 2015-11-26  184.060
  5 2016-09-16  245.480]]